<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AndroPen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AndroPen.Properties.Settings>
            <setting name="PressureCurveValues" serializeAs="String">
                <value>0.0,0.0;0.5,0.5;1.0,1.0</value>
            </setting>
            <setting name="ScreenDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivationThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InitialValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoftnessX" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SoftnessY" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MaxEffectiveInput" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxOutput" serializeAs="String">
                <value>1</value>
            </setting>
        </AndroPen.Properties.Settings>
    </userSettings>
</configuration>